@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300,400,600,700&display=swap");
@import "tailwindcss";
body {
  background-color: #1f1f1f;
  font-size: 14px;
  /* font-family: "Fira Code", monospace; */
  line-height: 1.5;
  color: white;
}

@theme {
  --color-primary: #1f1f1f;
  --color-primaryDark: #181818;
  --color-primaryLight: #2b2b2b;
  --color-primayWhite: #2a2a2a;
  --color-highlight: #0078d4;
}

.icon {
  transition: all 0.2s;
  cursor: pointer;
  border-radius: var(--radius-md);
  padding: 2px;
}
.icon:hover {
  background-color: var(--color-neutral-600);
}
